
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*-- LANDING PAGE STYLING --*/
.site-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.links {
  border: 2px solid #679A00;
  padding: 8px;
  background-color: #C2D797;
  position: relative;
  left: 0px;
}
.about {
  background-color: #000000;
  color: white;
}
.footer {
  width: 100%;
  color: white;
  border: 2px solid #000000;
  padding: 8px;
  background-color: #000000;
  position: absolute;
  bottom: 0px;
  left: 0px;

}
/*--- INFORMATION ABOUT THE VIRUS STYLING --*/
#InformationAboutTheVirus {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  height: auto;
}
#InformationAboutTheVirus .container {
  position: relative;
}
#InformationAboutTheVirus .details1 {
  display: none;
}
#InformationAboutTheVirus .illustration1 {
  display: show;
}
#InformationAboutTheVirus .details1 {
  display: none;
}
#InformationAboutTheVirus .details2 {
  display: none;
}
#InformationAboutTheVirus .illustration2 {
  display: show;
}
#InformationAboutTheVirus .details2 {
  display: none;
}
#InformationAboutTheVirus .details3 {
  display: none;
}
#InformationAboutTheVirus .illustration3 {
  display: show;
}
#InformationAboutTheVirus .details3 {
  display: none;
}
@media screen and (max-width: 601px) {
  #InformationAboutTheVirus h1::after {
    margin: 15px auto 20px;
    width: 35%;
  }
}
@media screen and (max-width: 1000px) {
  #InformationAboutTheVirus .doings {
    height: auto;
    cursor: pointer;
  }
}
